/* Table layout */
.table-fixed {
    table-layout: fixed;
}
.table-wrap {
    display: table;
    table-layout: fixed;
    table-layout: fixed;
}
.table-cell {
    display: table-cell;
    height: 3rem;
    vertical-align: middle;
}

/* FlexBox Layout */
.flex-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
}
.flex-cell {
    display: flex;
    height: 3rem;
    align-items: center;
}

/* Common */
.description {
    background-color: lightyellow;
    width: 400px;
}
.add {
    background-color: lightgreen;
    width: 100px;
}
.remove {
    background-color: lightskyblue;
    width: 100px;
}
